body{
    background: #214252;
}
.content h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: arial black;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.582);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 30px;
}
.content{
background: white;
width: 400px;
padding: 50px;
overflow: hidden;
margin: auto;
margin-top: 150px;
box-shadow: 0px 0px 50px -7px black;
border-radius: 10px;
}
.content input{
    width: 90%;
    display: block;
    padding: 20px;
    background: #f6f5f5;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}
.check-btn{
    background:linear-gradient(#145374, #00334e) !important;
    color: white;
    width: 100% !important;
}
.check-btn:hover{
    background: linear-gradient(#00334e, #145374) !important;
    cursor: pointer;
}